
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <figure class="figure">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png"
                class="figure-img img-fluid rounded">
              <figcaption class="figure-caption text-right">
                  Foto de perfil del Usuario
                </figcaption>
            </figure>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Nombre Completo</li>
              <li class="list-group-item">{{ usuario.displayName }}</li>
              <li class="list-group-item">Correo Electronico</li>
              <li class="list-group-item">{{ usuario.email }}</li>
              <li class="list-group-item">Telefono</li>
              <li class="list-group-item">{{ usuario.phoneNumber || 'No disponible' }}</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 offset-md-2">
            <div class="card text-center m-4">
              <div class="card-header">
                <h4 class="h4">
                    Actualizar Datos Personales
                </h4>
              </div>
              <div class="card-body">
                <form [formGroup]="frmDP" (submit)="actualizarCambios()">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input
                        type="text"
                        formControlName="displayName"
                        class="form-control"
                        id="exampleInputEmail1">
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-center m-4">
              <div class="card-header">
                <h4 class="h4">
                  Actualizar Password
                </h4>
              </div>
              <div class="card-body">
                <form [formGroup]="frmUpdPwd" (submit)="actualizarPwd()">
                  <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password1">
                  </div>
                  <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" formControlName="password2" class="form-control" id="password2">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
