#main {
  background-image: url(https://img.freepik.com/foto-gratis/mesa-madera-fondo-borroso_1134-14.jpg?size=626&ext=jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 120px;
  font-family: 'Fredoka One',
  cursive;
}
