
<div class="row h-100">
    <div class="col-12 h-100">
        <div class="card border-info h-100">
          <div class="card-header border-info text-center text-muted">
            <a [routerLink]="['/home/edit', note.id]" class="text-decoration-none" >
              {{ note.titulo || 'titulo' | uppercase }}
            </a>
          </div>
          <div class="card-body border-info text-secondary">
            <p class="card-text m-3">
              {{ note.nota || noteEjm | uppercase }}
            </p>
          </div>
          <div class="card-footer border-info text-muted">
            <div class="row">
              <div class="col-sm-6">
                <h6 class="text-muted h6">
                  Creado
                </h6>
                <p class="text-justify text-left">
                  {{ note.created_at | date: 'longDate' }}
                </p>
              </div>
              <div class="col-sm-6">
                <h6 class="text-muted h6">
                  Actualizado
                </h6>
                <p class="text-justify text-left">
                  {{ (note.updated | date: 'longDate') || 'Sin actualizar' }}
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>